body {
    font-family: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 350px;
}

.logo img {
    width: 100px;
}

nav {
    position: fixed;                             /* para que el menu se despliege con el rotor hacia abejo*/
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5); 
}

.nav1 {
    background-color: aliceblue;
    height: 80px;
    color: var(--color-de-efecto);
}

.nav2 {
    background: #fff;
    height: 100px;
    color: var(--color-de-efecto);
    z-index: 1;                                           /* para colocar este cuadro sobre todos */
}

.contenedor-nav {    
    display: flex;
    width: 1303px;
    height: 90px;
    height: inherit;
}

.menu {
    justify-content: center;                                   /* para centrar el texto */
    display: flex;
    width: 800px;
    align-items: center;                                 /* para centrar el texto verticalmente */ 
}

.menu a {
    padding: 0 30px;                                        /* este sirve para un espacio entre otro */
    font-size: 18px;
    text-decoration: none;                                  /* para quitar las lineas del texto */
    color: inherit;                            /* sirve para que haga el cambio de color con el efecto de js */
    border-bottom: 5px solid transparent;          /* evita que el efecto de la line no actue con el texto */
}

.menu a:hover {
    border-bottom: 5px solid var(--color-de-efecto);
    transition: 3s;
}

.icono {
    width: 100px;
    display: flex;
    font-size: 40px;
    justify-content: center;                          /* para centrar una caja dentro de otro verlical mente */
    align-items: center;
    /*margin-left: auto;                                               /* para centrar la caja */
    /*margin-right: auto;                                              /* para centrar la caja */
}

.contenedor1 {
    display: flex;
    height: 100%;
}


.imagen1 {
    width: 890px;
    height: 780px;
    
}

.imagen1 img {
    height: 750px;
    width: 1300px;
    object-fit: cover;                                             /* sirve para ajustar la imagen en el cuvo */
}

.textos1 {
    font-family: "Anybody", sans-serif;
    text-align: center;                                               /* para centrar textos horizontalmente */
    font-size: 20px;                                                /* para aumentar el tamaño de la letra */ 
}

.textos1 h1{
    width: 400px;
    color: #F98EAE;
    margin-top: 470px;                                                   /* envia el texto hacia abajo */
    padding: 2%;
    font-weight: 600;
    /* height: 50px; */
    /*line-height: 50px;                                            /* para centrar el textos verticalmente */
    /* position: relative; */
    /*left: 50px;                                                    /* para colocarlo hacia la derecha */                                                    /* para colocarlo hacia abajo */
    /*bottom: 15px;                                                           /* hacia la arriba */
    /*right: 10px;                                                          /* hacia izquierda */
}

.textos1 h2 {
    width: 300px;
    top: 550px;
    line-height: 50px;
    height: 50px;
    background-color: #F98EAE;
    color: aliceblue;
    border-radius: 15px;
    margin: auto;
    font-weight: 400;                                                       /* centra los cuadros de textos */
}

.bienvenida {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    height: 70px;
}

.tex {
    font-weight: 15;                                  /* para colocar negrilla al texto con una clase al h6 */
}

.pa {
    font-weight: 700;            /* para colocar negrilla a un parrafo agregande span y llamandolo con una clase */
}

.bienvenida a {
    text-decoration: none;
    color: black;
}

.card {
    width: var(--tamnogirarhorizontal);
    height: var(--tamañogirarvertical);
    margin: 70px;
}

.card .face {
    position: absolute;
    backface-visibility: hidden;
    overflow: hidden;
    transition: .9s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    background-color: #F98EAE;
}

.front h1{
    width: 450px;
    font-size: 30px;
    margin: 3%;
    font-weight: 480;
}

.front h3 {
    width: 499px;
    font-size: 12px;
    font-weight: 350;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background-color: #51AEFB;
}

.back h3 {
    height: 200px;
    width: 520px;
    align-content: center;
    font-size: 30px;
    position: relative;
    bottom: 30px;
    /* margin: 2%; */
}

.back p {
    position: relative;
    bottom: 35px;
    width: 500px;
    font-size: 14px;
}

.Descubre h3{
    font-weight: 25;
}



.link {
    border-radius: 4px;
    display: flex;
    height: 45px;
    width: 250px;
    /* font-size: 15px; */
    justify-content: center;                          /* para centrar una caja dentro de otro verlicalmente */
    align-items: center;
    border-style: solid;
    border-color: aliceblue;
    border-width: 1px;
}

.link i {
    display: flex;
    justify-content: center;
}

.link a {
    color: aliceblue;
    text-decoration: none;
    padding: 3%;
    font-size: 15px;
}

.link1 :hover {
    background-color: #69CED3;
    cursor: pointer;
    transition: 1s;
}

.caja {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
    border-style: solid;
    border-color: aliceblue;
    border-width: 0 1px 0 0;
    color: aliceblue;
}

.face {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    width: var(--tamnogirarhorizontal);
    height: var(--tamañogirarvertical);
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;                                        
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.link {
    color: black;
}

.parrafo1 {
    width: 600px;
    float: right;    /* para enviar el texto a la derecha */
    margin-top: -430px;
    height: 380px;
    font-size: 16.6px;
    color: #898D93;
}

.parrafo01 {
    width: 550px;
    height: 100%;
}

.t1 {
    height: var(--height-distancia);
    line-height: var(--height-distancia);                 /* para centrar texto verticalmente tiene que ser igual al height del div*/
}

.t1 a {
    text-decoration: none;
    font-size: 17px;
    color: #898989;
}

.t2 {
    position: relative;
    left: 3px;
    height: 70px;
    color: #51AEFB;
    font-size: 28px;
    font-weight: 500;
}

.pa2 {
    height: var(--height-ditancia-tex);
    line-height: var(--height-ditancia-tex);
}

.parrafo4 {
    height: 300px;
    display: flex;             /* paracentrar el div colocando en el pare verticalmente*/
    align-items: center;       /* paracentrar el div colocando en el pare verticalmente*/
}

.parrafo04 {
    display: flex;
    height: 200px;
    width: 1150px;
    margin: 0 auto;
    border-radius: 25px;
    background: linear-gradient(90deg,   /* esto es para colocarlo horizontalmente */
        #57BDF2,
        #2F8AE8,
        #2F8AE8
    );
}

.parrafo004 {
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parrafo401 {
    width: 650px;
    height: 100px;
    font-size: 11px;
}

.ar1 {
    color: var(--coloblanco);
    height: 50%;
    
}

.ar2 h3{
    color: var(--coloblanco);
    font-weight: 500;
}

.parrafo402 {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.parrafo403 {
    background-color: #f34a7d;
    font-size: 10px;
    display: flex;
    /*justify-content: space-between;     /* para colocar el div a la derecha */
    width: 280px;
    margin: auto;
    border-radius: 2px;
    border-style: solid;
    border-color: #fff;
    border-width: var(--Tamañolinea);
    height: 45px;
}

.parrafo404 {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: aliceblue;
    border-width: 0 var(--Tamañolinea) 0 0;
}

.parrafo405 {
    display: flex;
    align-items: center;
    margin: auto;
}

:root {
    --coloblanco: #fff;    /* linea 347,354 */
    --tamañogirarvertical: 400px;     /* linea 159,264 */
    --tamnogirarhorizontal: 45%;      /* line 158,263 */
    --color-de-efecto: rgb(8, 153, 197);   /* linea 39,45,72 */
    --height-distancia: 40px;    /* linea 289,290 */
    --height-ditancia-tex: 50px;     /* linea 309,310 */
    --Tamañolinea: 1px;      /* linea 374,385 */
}